<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar.ejs') %>
<div class="row" >
    <div class="col-6 mx-auto">
        <form action="/products/<%= foundProduct._id %>?_method=PATCH" method="POST">
            <div class="mb-3">
                <label for="naam">Name: </label>
                <input type="text" class="form-control", name="name", id="naam", placeholder="Naam Btao Jldi", value = "<%= foundProduct.name %>">
            </div>
            <div class="mb-3">
                <label for="fotu">Image: </label>
                <input type="text" class="form-control", name="img", id="fotu", placeholder="Fotu ka url daal do", value = "<%= foundProduct.img %>">
            </div>
            <div class="mb-3">
                <label for="rokda">Price: </label>
                <input type="text" class="form-control", name="price", id="rokda", placeholder="kitna rokda lega", value = "<%= foundProduct.price %>">
            </div>
            <div class="mb-3">
                <label for="likh-lo">Description: </label>
                <textarea name="desc" id="likh-lo" placeholder="Saman ke baare me kuch to btao be">"<%= foundProduct.desc %>"</textarea>
            </div>
            <button class ="btn btn-sm btn-success">Edit</button>
        </form>
    </div>
</div>